@import "../../styles/abstracts/functions";
@import "../../styles/variables/colors";

:root {
  --buttonLgMinWidth: #{rem(136)};
  --buttonLgMinHeight: #{rem(48)};

  --buttonMdMinWidth: #{rem(120)};
  --buttonMdMinHeight: #{rem(40)};

  --buttonSmMinWidth: #{rem(110)};
  --buttonSmMinHeight: #{rem(34)};

  --buttonXsMinWidth: #{rem(110)};
  --buttonXsMinHeight: #{rem(30)};

  --buttonBorderRadius: #{rem(8)};

  --buttonGhostBorder: #{rem(1) solid $gray300};
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  padding: 12px 24px;
  border: {
    radius: var(--buttonBorderRadius);
    color: transparent;
  }

  &:focus {
    outline: 0;
  }

  &--primary {
    color: $white;
    background-color: $indigo500;
    &:focus {
      background-color: $indigo600;
    }

    &:hover {
      background-color: $indigo500;
    }
  }

  &--secondary {
    color: $indigo800;
    background-color: $indigo100;
    &:focus {
      background-color: $indigo200;
    }

    &:hover {
      background-color: $indigo200;
    }
  }

  &--ghost {
    color: $gray600;
    background-color: $white;
    border: var(--buttonGhostBorder);
    &:focus {
      background-color: $gray100;
    }

    &:hover {
      background-color: $gray100;
    }

    &.btn--disabled {
      color: $gray400;
      background-color: transparent;
      user-select: none;
      &:hover,
      &:focus {
        cursor: not-allowed;
        background-color: transparent;
      }
    }
  }

  &--link {
    color: $indigo600;
    border: none;
    background-color: transparent;
    &:focus {
      color: $indigo700;
    }

    &:hover {
      color: $indigo700;
    }
  }

  &--disabled {
    color: $gray400;
    background-color: $gray200;
    user-select: none;
    &:hover,
    &:focus {
      cursor: not-allowed;
      background-color: $gray200;
    }
  }

  &--lg {
    min-width: var(--buttonLgMinWidth);
    min-height: var(--buttonLgMinHeight);
  }

  &--md {
    min-width: var(--buttonMdMinWidth);
    min-height: var(--buttonMdMinHeight);
  }

  &--sm {
    min-width: var(--buttonSmMinWidth);
    min-height: var(--buttonSmMinHeight);
  }

  &--xs {
    min-width: var(--buttonXsMinWidth);
    min-height: var(--buttonXsMinHeight);
  }
}
