@use "../../styles/main.scss"as *;
@use "../../atoms/Text/Text.scss"as *;


$before-icon-margin-right: rem(12);
$top-label-margin-bottom: rem(4);
$input-border-margin-bottom:rem(4);
$input-border-radius: rem(6);
$placeholder-text-height: rem(24);
$placeholder-min-height:rem(26);

@mixin before-input-icon {
    margin-right: $before-icon-margin-right;
    display: inline-flex;
    align-items: center;
}

@mixin after-input-icon {
    display: inline-flex;
    align-items: center;
}

.input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    &-label {
        @extend .heading-6;
        display: none;

        &.top-label {
            display: block;
            margin-bottom: $top-label-margin-bottom;
        }

        &.contained-label {
            display: block
        }
    }

    &-border {
        display: flex;
        padding: 6px 16px 6px 12px;
        border: 1px solid $gray400;
        box-sizing: border-box;
        border-radius: $input-border-radius;
        position: relative;
        margin-bottom: $input-border-margin-bottom;

        &:focus {
            border-color: $indigo600;
        }

        .mid-part {
            width: 100%;

            .content-container {
                display: flex;

                .placeholder-text {
                    color: $gray400;
                    @extend .body-2;
                    width: 100%;
                    border: none;
                    height: $placeholder-text-height;
                    min-height: $placeholder-min-height;
                    resize: none;

                    &:focus {
                        outline: none
                    }

                    &.paragraph {
                        resize: vertical;
                    }

                }

            }
        }

    }

    &-icon {
        display: none;
    }

    .leading .leading-icon-container,
    .prefix .prefix-icon-container {
        @include before-input-icon()
    }

    .trailing .trailing-icon-container,
    .suffix .suffix-icon-container {
        @include after-input-icon()
    }

    .both-position {
        justify-content: space-between;

        & .prefix-icon-container {
            @include before-input-icon();
        }

        & .suffix-icon-container {
            @include after-input-icon()
        }
    }

    .both-type {
        justify-content: space-between;

        & .leading-icon-container {
            @include before-input-icon()
        }

        & .trailing-icon-container {
            @include after-input-icon()
        }
    }

    .footer {
        display: flex;
        justify-content: space-between;

        .helper-text {
            @extend .body-4;
            font-feature-settings: 'ss01'on, 'cv05'on, 'cv06'on, 'cv08'on, 'cv10'on, 'cv11'on, 'kern'off;
            color: $gray700;
        }

        .character-count {
            @extend .body-4;
            font-feature-settings: 'ss01'on, 'cv05'on, 'cv06'on, 'cv08'on, 'cv10'on, 'cv11'on, 'kern'off;
            color: $gray700;
        }
    }

}