@use "../../styles/main.scss"as *;
@use "../../atoms/Text/Text.scss"as *;

$placeholder-text-height: rem(24);
$placeholder-min-height:rem(26);

$text-padding:rem(2);

.text-input,
textarea {
    @extend .body-2;
    padding: $text-padding;
    font-family: $font-family;
    width: 100%;
    border: none;
    height: $placeholder-text-height;
    min-height: $placeholder-min-height;
    color: $gray700;
    resize: vertical;
    height: auto;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    &::-webkit-input-placeholder {
        color: $gray400;
    }

    &::placeholder {
        color: $gray400;
    }

    &::-moz-placeholder {
        color: $gray400;
    }
}