@import "../../styles/main.scss";

.body-1 {
  @include generate-font($font-weight-normal, 1.25rem, 28px);
}
.body-2 {
  @include generate-font($font-weight-normal, 1rem, 24px);
}
.body-3 {
  @include generate-font($font-weight-normal, 0.875rem, 22px);
}
.body-4 {
  @include generate-font($font-weight-normal, 0.75rem, 20px);
}

.heading-1 {
  @include generate-font($font-weight-bold, 1.875rem, 30px);
}
.heading-2 {
  @include generate-font($font-weight-bold, 1.5rem, 24px);
}
.heading-3 {
  @include generate-font($font-weight-bold, 1.25rem, 20px);
}
.heading-4 {
  @include generate-font($font-weight-bold, 1rem, 16px);
}
.heading-5 {
  @include generate-font($font-weight-bold, 0.875rem, 14px);
}
.heading-6 {
  @include generate-font($font-weight-bold, 0.75rem, 12px);
}

.display-1 {
  @include generate-font($font-weight-extra-bold, 3.5rem, 56px);
}
.display-2 {
  @include generate-font($font-weight-extra-bold, 2.875rem, 46px);
}
.display-3 {
  @include generate-font($font-weight-extra-bold, 2.375rem, 38px);
}

.text-no-decoration {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.text-line-through {
  text-decoration: line-through;
}
